$primary_color: #fff;
$text_color: #272727;

$highlight_color: pink;

$button_color1: lightgrey;
$button_color2: Gainsboro;
$verylightgrey: hsl(0, 0%, 95%);


$font_weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$medium-font: 1.125rem;
$small-font: 0.875rem;
$large-font: 1.7rem;
$xlarge-font: 2.15rem;